:root {
  --sidebar-Width: 250px;
  --nav-Height: 70px;
}

.usersLayout {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
}

.collapseBtn {
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: var(--z4);
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;

  display: none;

  background-color: var(--ring);
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .collapseBtn {
    display: grid;
    place-items: center;
  }
}
@media (min-width: 768px) {
  .collapseBtnSkeleton {
    display: none;
  }
}

.content {
  flex: 1;

  min-height: 100vh;
  background-color: var(--background);

  display: flex;
  flex-direction: column;
}

.errorState {
  width: clamp(300px, 100%, 500px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 16px;
  margin: 0;
  border-radius: 8px;
  box-shadow: grey 0px 1px 3px 0px;
}
.errorActions {
  line-height: 24px;
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
