/* BookCards in DashBoard*/
.borrowedBookCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 8px 24px;
  border-radius: 8px;
  border: 1px solid var(--border);
  color: var(--foreground);
  text-decoration: none;
}

.bookContent{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.detailsSection {
  position: relative;
}

.detailsSection summary {
  cursor: pointer;
}

.detailsSection p {
  white-space: nowrap;

  position: absolute;
  background: var(--card);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bookActions1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.btn1 {
  text-decoration: none;
  width: fit-content;
  display: inline-block;
  border: none;
  padding: 4px 8px;
  border-radius: 6px;
  color: var(--card);
  background-color: var(--foreground);
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn1:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
