.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px;
  padding: 32px;
  border: 1px solid var(--border);
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}
.topSection {
  display: flex;
  gap: 32px;
}

.bookCoverContainer {
  display: grid;
  place-items: flex-start;
  border: 2px solid var(--primary);
  border-radius: 8px;
  padding: 8px;
}

.bookCover {
  background-color: var(--book-cover);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.coverImage {
  object-fit: cover;
  border-radius: 4px;
}

.bookDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.bookDetails h1 {
  margin-bottom: 0;
  text-align: center;
}

.detailsRow {
  margin: 0;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 4px;
}
.label {
  font-weight: bold;
}

.bookStatus {
  display: block;
  align-items: center;

  gap: 8px;
  margin-bottom: 8px;
}

.bookStatus > * {
  padding: 4px;
  border-radius: 9999px;
  text-align: center;
}

.available {
  background: var(--success);
}

.outOfStock {
  background: var(--failure);
}

.bookDescription {
  width: 100%;
}

.bookDescription summary {
  cursor: pointer;
}

.bookDescription p {
  overflow-wrap: break-word;
}
