/*POP UP*/

.overlay {
  position: fixed;
  pointer-events: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z5);

  background: rgba(0, 0, 0, 0.4);
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 8px;
  width: 320px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.author {
  font-size: 0.95rem;
  color: #6b7280;
  margin-bottom: 16px;
}

.message {
  margin-bottom: 24px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.btn {
  padding: 4px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  background: white;
}

.borrow,
.returnBtn {
  background: black;
  color: white;
  border: none;
}

/* BookCards in DashBoard*/

.bookCard1 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 24px;
  border-radius: 8px;
  border: 1px solid var(--border);
}
.bookCard3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--card);
  color: var(--foreground);
  gap: 12px;
  width: 100%;
  height: 100%;

  padding: 12px 12px;
  border-radius: 8px;
  border: 3px solid var(--border);
  cursor: pointer;
  transition:
    box-shadow,
    transform 0.2s ease;
  text-decoration: none;
}
.bookCard3:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.bookCard3 h4 {
  width: 100%;
  text-align: center;
  height: 2.5rem;

  overflow-wrap: break-word;
  word-wrap: break-word;
}

.bookCover {
  border-radius: 4px;
  flex-shrink: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.coverImage {
  object-fit: cover;
  border-radius: 4px;
}

.bookContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bookTitle {
  margin: 0;
  margin: 8px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bookTitle2 {
  text-align: center;
  margin: 0;
  transform: scaleY(1.2);
  min-height: 3.4rem;
}

.bookAuthor {
  color: #0d0d0e;
}

.bookStatus,
.bookMeta {
  display: flex;
  align-items: center;

  gap: 8px;
  margin-bottom: 8px;
}

.bookMeta {
  flex-wrap: wrap;
  color: var(--muted-foreground);
}

.bookStatus {
  justify-content: space-between;
  position: relative;
}

.bookMeta p {
  margin: 0;
}

.bookMeta {
  height: 4rem;
}

.bookMeta span {
  white-space: nowrap;
  margin: 0;
  padding: 4px 4px;
  border-radius: 99999px;
  display: grid;
  place-items: center;
  color: black;
}

.available {
  background: var(--success);
  text-align: center;
}

.outOfStock {
  background: var(--failure);
  text-align: center;
}

.borrowed {
  background: #acafb3;
  text-align: center;
}

.detailsSection {
  flex: 0.8;
  position: relative;
}

.detailsSection summary {
  cursor: pointer;
}

.detailsSection p {
  overflow-wrap: break-word;
  position: absolute;
  background: var(--card);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bookActions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 8px;
}
.bookActions1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.statusIcon {
  width: 16px;
  height: 16px;
}

.recGenre {
  font-size: 12px;
  color: var(--muted-foreground);
}

/* StatCards in DashBoard*/

.statCard {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 16px;
}

.statHeader {
  display: flex;
  align-items: center;
  gap: 12px;
}

.statIconBox {
  position: relative;

  padding: 8px;
  border-radius: 8px;

  flex: 0.075;
  aspect-ratio: 1/1;

  display: grid;
  place-items: center;
}

.statIcon {
  width: 20px;
  height: 20px;
  color: var(--primary);
}

.statLabel {
  color: var(--muted-foreground);
  flex: 0.925;
}

.statBody {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.statValue {
  font-size: 30px;
  color: var(--foreground);
}

.statSubtitle {
  font-size: 14px;
  color: var(--muted-foreground);
  margin: 0;
  margin-top: 4px;
}

.btn1 {
  width: fit-content;
  display: inline-block;
  border: none;
  padding: 4px 8px;
  border-radius: 6px;
  color: var(--card);
  background-color: var(--foreground);
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn1:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.searchBarContainer {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.searchWrapper {
  flex: 1;
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: var(--muted-foreground);
}

.searchInput {
  width: 100%;

  padding: 12px 16px 12px 48px;
  background-color: var(--input-background);
  border: 1px solid var(--border);
  border-radius: 8px;
  outline: none;
}

.searchInput:focus {
  box-shadow: 0 0 0 2px var(--ring);
}

.filterWrapper {
  border: none;
  background-color: var(--accent);
  padding: 10px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  cursor: pointer;
}

.filterIcon {
  width: 20px;
  height: 20px;
  color: var(--primary);
}

.filterContainer {
  z-index: var(--z5);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--card);

  padding: 16px;

  min-width: 400px;
}
@media (max-width: 768px) {
  .filterContainer {
    width: 100%;
  }
}

.filterCheckbox > label {
  padding: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.filterSection {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 350px;
  overflow-y: auto;
}

.filterOption {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filterOption summary {
  cursor: pointer;
}

.filterCheckboxContainer {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 12px;
}

.filterHeader,
.filterButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterHeader button {
  border: none;
  background: none;
}

.filterSelected {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
  place-items: center;
  gap: 12px;
}

.filter {
  color: var(--foreground);
  background-color: #c4c1c1;
  padding: 2px 8px;
  border-radius: 999px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;

  text-align: center;
}

.filterOption {
  padding: 0.75rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  margin-bottom: 0.75rem;
}

.filterXWrapper {
  border: none;
  background: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.filterX {
  border: none;
  background: none;
  outline: none;

  height: 15px;
  width: 15px;
  background: transparent;

  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
}

.filterXWrapper:hover {
  background-color: var(--muted-foreground);
}

.filterHeader {
  margin-bottom: 16px;
}

.filterFooter {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: var(--card);

  border-radius: 0 0 8px 8px;
}
.sortContainer {
  padding: 4px;
  background: var(--card);
}

.sortContainer option {
  border: 1px solid var(--primary);
  padding: 8px;

  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}
