/* Container system */
.container {
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
}
/* Main content */
.main {
  margin: 0 auto;
  padding: 32px 32px;

  display: grid;
}

/* Content */
.content {
  margin: 0;
  padding: 32px 0;
}

@media (min-width: 768px) {
  .statsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Main layout */
.mainGrid {
  padding: 32px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

@media (min-width: 848px) {
  .mainGrid {
    grid-template-columns: 2fr 1fr;
  }
}
